<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACKategories.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Ac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BuildACKategories.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B422E1A918EAC14C00E0297F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B422E1B918EAC14D00E0297F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B422E1D118EADC0D00E0297F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B422E1E318EADFCC00E0297F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CD8B18EA2B4F004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CDA618EA2B4F004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CDFD18EA323E004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CE0618EAB5E4004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CE1B18EAB5E4004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CE3018EAB5F0004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CE4518EABD8A004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
