<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACKategories.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BuildACKategories.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B487CCE718EA106E004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CCF418EA106E004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CD0A18EA1127004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CD1218EA126A004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CD2718EA126A004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CD3F18EA1364004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B487CD7218EA14C1004EF69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4B9ECB118EA021900BF822C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4B9ECCC18EA021A00BF822C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4B9ED1018EA0C2B00BF822C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4B9ED1418EA0C4300BF822C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
